/* reset部分 */

* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

* ::before { box-sizing: border-box;}
* ::after { box-sizing: border-box;}

h1,
h2{
  font-weight: normal;
}

ol,ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

body{
  font:14px/1.5 Helvetica,sans-serif;
}

.none {
  display: none;
}

/* 页面整体部分 */
.home {
  min-height: 100%;
  background-color: #fcfcfd;
  overflow: hidden;
}


/* header部分 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 64px;
  background-color: #d43c33;
  z-index: 100;
}

.header .inner-wrap {
  margin: 0 10px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner-wrap .logo {
  position: relative;
  width: 142px;
  height: 25px;
}

.header .inner-wrap .logo h1 {
  opacity: 0;
  color: #d43c33;
}

.header .inner-wrap .logo .logosvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 142px;
  height: 25px;
}

.download .info{
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 15px;
  color: #fff;
}

.download .info::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(.5);
  transform-origin: top left;

  content: '';
  border: 1px solid #fff;
  border-radius: 37.5%/100%;
  z-index: 1;
}



/* tab切换 标签部分*/
.mainwrap .toptab {
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 100;

  width: 100%;
  min-height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toptab .tabtitle {
  display: block;
  width: 30%;
  height: 40px;
  flex: 1;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.toptab .tabtitle .tabinner {
  position: relative;

  display: inline-block;
  max-width: 100%;
  height: 100%;
  padding: 0 5px;
  
  color: #333;
  font-size: 15px;
  line-height: 40px;
}

.toptab .tabtitle .tabinner .tabtxt {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* tab切换标签 底部线 和 激活态*/
.toptab::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;  
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 2;
}

.toptab .tabtitle.active .tabinner {
  color: #d33a31;
}

.toptab .tabtitle.active .tabinner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 3;
  
  width: 100%;
  height: 4px;
  transform: scaleY(.5);
  background: #d33a31;
}


/* tab内容部分 公有样式*/
.tabcontent {
  margin-top: 104px;
}

/* tab首页 部分样式 */
.tabcontent .remd {
  padding-top: 20px;
}
.remd .remd-songs {
  padding-bottom: 24px;
}
.remd-t1 {
  position: relative;
  padding-left: 9px;
  margin-bottom: 14px;

  font-size: 17px;
  height: 20px;
  line-height: 20px;
}
.remd-t1::after{
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  width: 2px;
  height: 16px;
  background-color: #d33a31;
}

.remd-songs .songs-ul {
  padding-bottom: 16px;
  width: 100%;
  display: flex;
}
.remd-songs .songs-ul .songs-li {
  display: block;
  width: 33.3%;
}
.songs-li:nth-child(1) {
  padding-right: 2px;
}
.songs-li:nth-child(2) {
  padding: 0 1px;
}
.songs-li:nth-child(3) {
  padding-left: 2px;
}
.songs-li .img-wrap .pic{
  display: block;
  width: 100%;
}

.songs-li .img-wrap {
  position: relative;
}

.songs-li .img-wrap .num {
  position: absolute;
  right: 5px;
  top: 2px;
  z-index: 3;

  padding-left: 13px;
  color: #fff;
  font-size: 12px;
  
  background: url(../img/audio.svg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 11px 10px;
  text-shadow: 1px 0 0 rgba(0,0,0,.15);
}

.songs-li .img-wrap::after{
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  width: 100%;
  height: 20px;
  z-index: 2;

  background-image: linear-gradient(180deg,rgba(0,0,0,.2),transparent);
}

.songs-li .desc {
  padding: 6px 2px 0 6px;
  line-height: 1.2;
  font-size: 13px;
  overflow: hidden;
}


/* 首页新歌样式 */

.remd .remd-newsongs .newsg-ul {
  width: 100%;
}
.newsg-ul .newsg-li {
  position: relative;
  display: block;
  width: 100%;
  min-height: 55px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.newsg-li::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  border-bottom: 1px solid rgba(0,0,0,.1);
}

.newsg-li .newsg-info {
  position: relative;
  flex: 1;
  padding: 6px 0;
  width: 0;
}
.newsg-info .newsg-title {
  font-size: 17px;
  white-space: nowrap;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsg-info .newsg-txt {
  position: relative;
  font-size: 12px;
  color: #888;
  white-space: nowrap;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsg-info .newsg-txt .sq {
  margin-right: 4px;

  display: inline-block;
  width: 12px;
  height: 8px;
  background: url('../img/index_icon.png') no-repeat;
  background-size: 166px 97px;
}

.newsg-li .newsg-icon{
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.newsg-icon .playicon {
  display: inline-block;
  width: 22px;
  height: 22px;

  background: url('../img/index_icon.png') no-repeat;
  background-position: -24px 0;
  background-size: 166px 97px;
}

/* 首页页脚部分*/
.remd .footer {
  margin-top: 4px;
  width: 100%;
  position: relative;
  padding-top: 53.3%;
   
  background: url('../img/recommand_bg.png') no-repeat;
  background-size: contain;
}
.footer .content-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  text-align: center;
}
.content-wrap .footerlogo {
  padding-top: 16.9%;
}
.footerlogo .logosvg {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 44px;
}
.content-wrap .openapp {
  margin: 15px 37px 5px;
  font-size: 16px;
  line-height: 38px;
  color: #d33a31;

  border: 1px solid #d33a31;
  border-radius: 38px;
}
.content-wrap .copyright {
  font-size: 12px;
  line-height: 16px;
  color: #888;
  transform: scale(.75);
}