/* reset部分 */

* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

* ::before { box-sizing: border-box;}
* ::after { box-sizing: border-box;}

h1,
h2{
  font-weight: normal;
}

ol,ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

body{
  font:14px/1.5 Helvetica,sans-serif;
  color: #333
}

.none {
  display: none;
}

.show {
  display: block;
}


/* 歌曲详情页整体*/

.song-wrap {
  width: 100%;
}

.song-wrap .song-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  height: 100%;
}

/* 整体背景图片 */
.song-inner .song-bg{
  width: 100%;
  height: 100%;
  background: url('../img/song_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  transform-origin: center top;
  transform: scale(1.5);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  filter: blur(8px);
  /* opacity: 1; 
  transition: opacity .3s linear;  */
}

.song-inner .song-bg::after{
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.6);
}


/* 内容—— 光盘区样式 */
.content-wrap .scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  /* overflow: hidden; */
  z-index: 21;
}

/*.holder1 {
  min-height: 100%;
} */

.alldisc-wrap {
  position: relative;
  height: 607px;
  padding-bottom: 12px; 
}

.alldisc-wrap .logo {
  position: absolute;
  top: 12px;
  left: 10px;
  height: 17px;
  line-height: 0;
}

.logo .logosong{
  width: 92px;
  height: 17px;

  display: inline-block;
  vertical-align: middle;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.alldisc-wrap .disc-wrap {
  padding-top: 70px;
}

.disc-wrap .disc-content {
  position: relative;

  margin: 0 auto;
  width: 296px;
  height: 296px; 
}

.disc-content::after {
  content: '';
  width: 96px;
  height: 137px;
  position: absolute;
  top: -70px;
  left: 133px;
  z-index: 5;

  background: url("../img/disc_needle.png") no-repeat;
  background-size: contain;
}

.disc-content .disc-turn {
  width: 100%;
  height: 100%;
}

.disc-turn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: url('../img/disc.png') no-repeat;
  background-size: contain;
}

.disc-turn .disc-imgwrap {
  margin: -92px 0 0 -92px;
  width: 184px;
  height: 184px;
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}
.disc-imgwrap .img-innerwrap {
  width: 100%;
  height: 100%;
  background: url('../img/disc_innerbg.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  overflow: hidden;
}
.img-innerwrap img {
  width: 100%;
  vertical-align: middle;
}

.disc-turn .disclight-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}
.disclight-wrap .disc-light {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: url('../img/disc_light.png') no-repeat;
  background-size: contain;
}
.disc-content .disc-play {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;

  background: url('../img/disc_play.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.disc-wrap .clickarea {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 52px;
  z-index: 10;
}

.alldisc-wrap .song-info {
  padding: 0 35px;
  margin-top: 25px;
}
.song-info .song-title {
  font-size: 18px;
  line-height: 1.1;
  color: #fefefe;
  text-align: center;

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.song-title .song-gap {
  margin: 0 4px;
}
.song-title .song-autr {
  font-size: 16px;
}
.song-info .songlyric-wrap {
  margin-top: 14px;
}
.songlyric-wrap .songlyric-inner {
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: hsla(0,0%,100%,.6);
  overflow: hidden;
}
.songlyric-inner .song-lyric {
  transition: transform .3s ease-out;
}
.song-lyric .lritem {
  padding-bottom: 8px;
}
.song-lyric .lritem.active {
  color: rgb(255, 255, 255);
}

.alldisc-wrap .morelr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 18px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: hsla(0,0%,100%,.6);
}
.alldisc-wrap .moreguide {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  height: 36px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.moreguide .guide {
  display: block;
  width: 17px;
  height: 12px;
  background: url('../img/moreguide.png') no-repeat;
  background-size: 17px auto;
  background-position: 0 0;
  animation: shining 1.2s steps(1) infinite;
}
@keyframes shining{
  0% {
    background-position: 0 0;
    }
  15% {
    background-position: 0 -12px;
    }
  30% {
    background-position: 0 -24px;
    }
  45% {
    background-position: 0 -36px;
    }
  60% {
    background-position: 0 -48px;
    }
  75% {
    background-position: 0 -60px;
    }
  90% {
    background-position: 0 -72px;
    }
  100% {
    background-position: 0 -84px;
  }
}

/* 页脚部分样式 */
.content-wrap .footer-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;

  padding: 10px 0;
  background-image: linear-gradient(-180deg,transparent 9%,rgba(0,0,0,.5));
}
.footer-wrap .footer-inner {
  display: flex;
  padding: 0 10px;
  margin: 0 auto;
}
.footer-inner .btn_footer {
  display: inline-block;
  border: 1px solid #d33a31;
  flex: 1 1 auto;
  width: 1%;
  height: 40px;
  line-height: 40px;
  color: #fff;

  margin-left: 10px;
  padding: 0 6px;
  text-align: center;
  font-size: 18px;
  border-radius: 40px;
  background-color: #d33a31;
}
.btn_footer:first-child {
  margin-left: 0;
}
.btn_footer.active {
  color: #d33a31;
  background-color: transparent;
}
